@model IEnumerable<Browser_RPG_Game.Models.Building>

@{
    ViewBag.Title = "Buildings Index";
}

    <h2>Buildings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelMax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialIncreasePerMinute)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncreasePerMinuteAfterEachUpgrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PathToImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialIncreasePerMinute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncreasePerMinuteAfterEachUpgrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PathToImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
