<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
    .dropdown:hover > .dropdown-content {
        display: block;
        position: absolute;
        z-index: 100;
        background-color: #EEEEEE;
        border-radius: 15px;
        width: 200px;
        padding: 10px;
        overflow: auto;
    }

    .dropdown-content.tooltip-left {
        left: 0;
    }

    .dropdown-content.tooltip-right {
        right: 0;
    }

    .dropdown-content.tooltip-top {
        top: 0;
    }

    .dropdown-content.tooltip-bottom {
        bottom: 0;
    }

    .dropdown-content {
        display: none;
    }

    </style>

    <!--<style>

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            /* Links inside the dropdown */
            .dropdown-content a {
                color: black;
                text-decoration: none;
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 5px;
            }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
        -->
</head>
<body>
    <div class="navbar navbar-dark fixed-top bg-dark navbar-expand-lg">
        @if (!Request.IsAuthenticated)
        {
            @Html.ActionLink("Game", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        }
        else
        {
            @Html.ActionLink("Postać", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        }
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav mr-auto">

                @if (!Request.IsAuthenticated)
                {
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                }
                else
                {
                    <li class="nav-item">@Html.ActionLink("Sklep", "Index", "Store", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Wyprawa", "Index", "Expedition", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Arena", "Index", "Arena", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Posiadłości", "Estate", "Buildings", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Wiadomości", "Index", "Messages", null, new { @class = "nav-link" })</li>
                }
                @if (Context.User.IsInRole("ADMIN"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Configs", "Index", "Configs", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Buildings", "Index", "Buildings", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Materials", "Index", "Materials", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("News", "Index", "Bulletins", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Character buildings", "Index", "CharacterBuildings", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Character images", "Index", "CharacterImages", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Characters", "Index", "Characters", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Enemies", "Index", "Enemies", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Item loots", "Index", "ItemLoots", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Items", "Index", "Items", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Item types", "Index", "ItemTypes", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Locations", "Index", "Locations", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Messages", "Index", "Messages", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Profile types", "Index", "ProfileTypes", null, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Rafał Sekular &copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
