@model Browser_RPG_Game.Models.CharacterImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CharacterImage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PathToImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathToImage)
        </dd>
        <dd>
            <img src="@Html.DisplayFor(model => model.PathToImage)" alt="Character image" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
