@model Browser_RPG_Game.Models.Character

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Armor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Armor.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boots.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boots.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brickyard.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brickyard.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharacterImage.PathToImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharacterImage.PathToImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gloves.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gloves.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Helmet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Helmet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ironworks.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ironworks.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sawmill.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sawmill.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shield.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shield.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weapon.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weapon.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Experience)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExperienceMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExperienceMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Health)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Health)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Strength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Strength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dexterity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Damage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Damage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Defense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Defense)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
