@model Browser_RPG_Game.Models.BattleReport<Browser_RPG_Game.Models.Character, Browser_RPG_Game.Models.Character>

@{
    ViewBag.Title = "Attack";
}

<h2>Walka</h2>

@if (!Model.CharacterWin && !Model.EnemyWin)
{
    <div class="row m-auto">
        <div class="alert alert-warning ml-auto mr-auto">
            <h3 class="text-center">Remis</h3>
            <label class="text-center">Walka była wyrównana do tego stopnia, że obaj padliście na ziemię z wycieńczenia.</label>
        </div>
    </div>
}
else if (Model.CharacterWin)
{
    <div class="row m-auto">
        <div class="alert alert-success ml-auto mr-auto">
            <h3 class="text-center">Wygrałeś</h3>
            <label class="text-center">
                Zyskałeś @Model.Experience punktów doświadczenia!<br>Po walce wręczono Ci część złota przeciwnika jako nagrodę:<br />
                @Model.Gold <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
            </label>
        </div>
    </div>
}
else if (Model.EnemyWin)
{
    <div class="row m-auto">
        <div class="alert alert-danger ml-auto mr-auto">
            <h3 class="text-center">Przegrałeś</h3>
            <label class="text-center">
                Straciłeś @Model.Experience punktów doświadczenia!<br>Po walce oddałeś część Swojego złota:<br />
                @Model.Gold <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
            </label>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-5 ml-auto mr-auto">
        <div class="row m-auto" style="height: 100px">
            <h1 class="m-auto text-center"><b>@Model.Character.Name</b></h1>
        </div>
        <hr />
        <div class="row">
            <img class="ml-auto mr-auto" src="@Model.Character.CharacterImage.PathToImage" height="100px" alt="Character image" />
        </div>
        <div class="row">
            <div class="col-sm-8 mr-auto">
                Poziom postaci
            </div>
            <div class="row col-sm-4 ml-auto text-right">
                @Model.Character.Level
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mr-auto">
                Doświadczenie
            </div>
            <div class="row col-sm-4 ml-auto text-right">
                @Model.Character.Experience / @Model.Character.ExperienceMax
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mr-auto">
                Punkty zdrowia
            </div>
            <div class="row col-sm-4 ml-auto text-right">
                @if (Model.Battles.Count > 0)
                {
                    <text>
                        @Model.Battles.Min(b => b.CharacterHP) / @Model.Character.HealthMax
                    </text>
                }
                else
                {
                    <text>
                        @Model.Character.Health / @Model.Character.HealthMax
                    </text>
                }
            </div>
        </div>
        <hr />
        <div class="row" title="Wpływa na szansę przełamania bloku przeciwnika i obrażenia">
            <div class="col-sm-9">
                Siła
            </div>
            <div class="col-sm-3">
                @Model.Character.Strength
            </div>
        </div>
        <div class="row" title="Wpływa na szansę zablokowania ciosu i obronę">
            <div class="col-sm-9">
                Zręczność
            </div>
            <div class="col-sm-3">
                @Model.Character.Dexterity
            </div>
        </div>
        <div class="row" title="Wpływa na szansę podwójnego ataku lub zadania obrażeń krytycznych">
            <div class="col-sm-9">
                Szczęście
            </div>
            <div class="col-sm-3">
                @Model.Character.Luck
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-9">
                Obrażenia
            </div>
            <div class="col-sm-3">
                @Model.Character.Damage
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                Obrona
            </div>
            <div class="col-sm-3">
                @Model.Character.Defense
            </div>
        </div>
    </div>

    <div class="col-sm-5 ml-auto mr-auto">
        <div class="row m-auto" style="height: 100px">
            <h1 class="m-auto text-center"><b>@Model.Enemy.Name</b></h1>
        </div>
        <hr />
        <div class="row">
            <img class="ml-auto mr-auto" src="@Model.Enemy.CharacterImage.PathToImage" height="100px" alt="Character image" />
        </div>
        <div class="row">
            <div class="col-sm-8 mr-auto">
                Poziom postaci
            </div>
            <div class="row col-sm-4 ml-auto text-right">
                @Model.Enemy.Level
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mr-auto">
                Doświadczenie
            </div>
            <div class="row col-sm-4 ml-auto text-right">
                @Model.Enemy.Experience / @Model.Enemy.ExperienceMax
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mr-auto">
                Punkty zdrowia
            </div>
            <div class="row col-sm-4 ml-auto text-right">
                @if (Model.Battles.Count > 0)
                {
                    <text>
                        @Model.Battles.Min(b => b.EnemyHP) / @Model.Enemy.HealthMax
                    </text>
                }
                else
                {
                    <text>
                        @Model.Enemy.Health / @Model.Enemy.HealthMax
                    </text>
                }
            </div>
        </div>
        <hr />
        <div class="row" title="Wpływa na szansę przełamania bloku przeciwnika i obrażenia">
            <div class="col-sm-9">
                Siła
            </div>
            <div class="col-sm-3">
                @Model.Enemy.Strength
            </div>
        </div>
        <div class="row" title="Wpływa na szansę zablokowania ciosu i obronę">
            <div class="col-sm-9">
                Zręczność
            </div>
            <div class="col-sm-3">
                @Model.Enemy.Dexterity
            </div>
        </div>
        <div class="row" title="Wpływa na szansę podwójnego ataku lub zadania obrażeń krytycznych">
            <div class="col-sm-9">
                Szczęście
            </div>
            <div class="col-sm-3">
                @Model.Enemy.Luck
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-9">
                Obrażenia
            </div>
            <div class="col-sm-3">
                @Model.Enemy.Damage
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                Obrona
            </div>
            <div class="col-sm-3">
                @Model.Enemy.Defense
            </div>
        </div>
    </div>
</div>

@if (Model.CharacterWin || Model.EnemyWin)
{
    <br />
    <hr />
    <h3 class="text-center">Raport z walki</h3>
    <hr />
    foreach (var battle in Model.Battles)
    {
        if (battle.CharacterIsAttacker)
        {
            <div class="row">
                <div class="col-sm-12 alert alert-success ml-auto mr-auto">
                    <h4>Atakuje <b>@Model.Character.Name</b></h4>
                    @if (battle.CriticalAttack)
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Character.Name wykonał atak krytyczny</b></p>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p>@Model.Enemy.Name</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-center">otrzymał</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-right">@battle.InflictedDamage obrażeń</p>
                            </div>
                        </div>
                    }
                    else if (battle.DefendedAttack && battle.BrokenDefense)
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Character.Name przełamał obronę</b></p>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p>@Model.Enemy.Name</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-center">otrzymał</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-right">@battle.InflictedDamage obrażeń</p>
                            </div>
                        </div>

                        if (battle.DoubleAttack)
                        {
                            <div class="row ml-auto mr-auto">
                                <p class="text-info ml-auto mr-auto text-center"><b>@Model.Character.Name wykonał szybko drugi atak</b></p>
                            </div>
                            <div class="row ml-auto mr-auto">
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p>@Model.Enemy.Name</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-center">otrzymał</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-right">@battle.InflictedDamage obrażeń</p>
                                </div>
                            </div>
                        }
                    }
                    else if (battle.DefendedAttack)
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info text-center ml-auto mr-auto"><b>@Model.Enemy.Name obronił atak</b></p>
                        </div>
                    }
                    else
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Character.Name zaatakował</b></p>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p>@Model.Enemy.Name</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-center">otrzymał</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-right">@battle.InflictedDamage obrażeń</p>
                            </div>
                        </div>

                        if (battle.DoubleAttack)
                        {
                            <div class="row ml-auto mr-auto">
                                <p class="text-info ml-auto mr-auto text-center"><b>@Model.Character.Name wykonał szybko drugi atak</b></p>
                            </div>
                            <div class="row ml-auto mr-auto">
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p>@Model.Enemy.Name</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-center">otrzymał</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-right">@battle.InflictedDamage obrażeń</p>
                                </div>
                            </div>
                        }
                    }
                    <div class="row ml-auto mr-auto">
                        <div class="col-sm-4 ml-auto mr-auto">
                            <p>@Model.Enemy.Name</p>
                        </div>
                        <div class="col-sm-4 ml-auto mr-auto">
                            <p class="text-center">posiada</p>
                        </div>
                        <div class="col-sm-4 ml-auto mr-auto">
                            <p class="text-right">@battle.EnemyHP PŻ</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-sm-12 alert alert-danger ml-auto mr-auto">
                    <h4>Atakuje <b>@Model.Enemy.Name</b></h4>
                    @if (battle.CriticalAttack)
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Enemy.Name wykonał atak krytyczny</b></p>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p>@Model.Character.Name</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-center">otrzymał</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-right">@battle.InflictedDamage obrażeń</p>
                            </div>
                        </div>
                    }
                    else if (battle.DefendedAttack && battle.BrokenDefense)
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Enemy.Name przełamał obronę</b></p>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p>@Model.Character.Name</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-center">otrzymał</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-right">@battle.InflictedDamage obrażeń</p>
                            </div>
                        </div>

                        if (battle.DoubleAttack)
                        {
                            <div class="row ml-auto mr-auto">
                                <p class="text-info ml-auto mr-auto text-center"><b>@Model.Enemy.Name wykonał szybko drugi atak</b></p>
                            </div>
                            <div class="row ml-auto mr-auto">
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p>@Model.Character.Name</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-center">otrzymał</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-right">@battle.InflictedDamage obrażeń</p>
                                </div>
                            </div>
                        }
                    }
                    else if (battle.DefendedAttack)
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Character.Name obronił atak</b></p>
                        </div>
                    }
                    else
                    {
                        <div class="row ml-auto mr-auto">
                            <p class="text-info ml-auto mr-auto text-center"><b>@Model.Enemy.Name zaatakował</b></p>
                        </div>
                        <div class="row ml-auto mr-auto">
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p>@Model.Character.Name</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-center">otrzymał</p>
                            </div>
                            <div class="col-sm-4 ml-auto mr-auto">
                                <p class="text-right">@battle.InflictedDamage obrażeń</p>
                            </div>
                        </div>

                        if (battle.DoubleAttack)
                        {
                            <div class="row ml-auto mr-auto">
                                <p class="text-info ml-auto mr-auto text-center"><b>@Model.Enemy.Name wykonał szybko drugi atak</b></p>
                            </div>
                            <div class="row ml-auto mr-auto">
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p>@Model.Character.Name</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-center">otrzymał</p>
                                </div>
                                <div class="col-sm-4 ml-auto mr-auto">
                                    <p class="text-right">@battle.InflictedDamage obrażeń</p>
                                </div>
                            </div>
                        }
                    }

                    <div class="row ml-auto mr-auto">
                        <div class="col-sm-4 ml-auto mr-auto">
                            <p>@Model.Character.Name</p>
                        </div>
                        <div class="col-sm-4 ml-auto mr-auto">
                            <p class="text-center">posiada</p>
                        </div>
                        <div class="col-sm-4 ml-auto mr-auto">
                            <p class="text-right">@battle.CharacterHP PŻ</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}