@model List<Browser_RPG_Game.Models.Character>

@{
    ViewBag.Title = "Arena";
}

<h2>Arena</h2>

@if (ViewBag.TimeToTheNextFight != null)
{
    <div class="row ml-auto mr-auto">
        <label class="alert alert-info ml-auto mr-auto">Pozostały czas do następnej walki na arenie: @ViewBag.TimeToTheNextFight</label>
    </div>
}
else
{
    <div class="row ml-auto mr-auto">
        <div class="row col-12">
            <h3 class="ml-auto mr-auto">Wylosowani przeciwnicy</h3>
        </div>

        <div class="row ml-auto mr-auto">
            @if (Model.ToList()[0] != null)
            {
                <a href="Arena/Attack/@Model.ToList()[0].ID" style="display: block">
                    <div class="dropdown col-sm m-auto">
                        <div class="row m-auto">
                            <div class="m-auto">
                                <img src="@Model.ToList()[0].CharacterImage.PathToImage" style="height: 100px" />
                            </div>
                        </div>
                        <hr />
                        <div class="row m-auto">
                            <p class="m-auto text-center">@Model.ToList()[0].Name</p>
                        </div>

                        <div class="dropdown-content tooltip-left tooltip-top">
                            <b>@Model.ToList()[0].Name</b> <br />
                            Poziom: @Model.ToList()[0].Level
                        </div>
                    </div>
                </a>
            }
            else
            {
                <label class="alert alert-info text-center col-sm-4">Brak słabszych zawodników</label>
            }

            @if (Model.ToList()[1] != null)
            {
                <a href="Arena/Attack/@Model.ToList()[1].ID" style="display: block">
                    <div class="dropdown col-sm m-auto">
                        <div class="row m-auto">
                            <div class="m-auto">
                                <img src="@Model.ToList()[1].CharacterImage.PathToImage" style="height: 100px" />
                            </div>
                        </div>
                        <hr />
                        <div class="row m-auto">
                            <p class="m-auto text-center">@Model.ToList()[1].Name</p>
                        </div>

                        <div class="dropdown-content tooltip-left tooltip-top">
                            <b>@Model.ToList()[1].Name</b> <br />
                            Poziom: @Model.ToList()[1].Level
                        </div>
                    </div>
                </a>
            }
            else
            {
                <label class="alert alert-info text-center col-sm-4">Brak zawodników na podobnym poziomie</label>
            }

            @if (Model.ToList()[2] != null)
            {
        <a href="Arena/Attack/@Model.ToList()[2].ID" style="display: block">
            <div class="dropdown col-sm m-auto">
                <div class="row m-auto">
                    <div class="m-auto">
                        <img src="@Model.ToList()[2].CharacterImage.PathToImage" style="height: 100px" />
                    </div>
                </div>
                <hr />
                <div class="row m-auto">
                    <p class="m-auto text-center">@Model.ToList()[2].Name</p>
                </div>

                <div class="dropdown-content tooltip-left tooltip-top">
                    <b>@Model.ToList()[2].Name</b> <br />
                    Poziom: @Model.ToList()[2].Level
                </div>
            </div>
        </a>
            }
            else
            {
                <label class="alert alert-info text-center col-sm-4">Brak silniejszych zawodników</label>
            }

        </div>
    </div>
    <br />
}
