@model IEnumerable<Browser_RPG_Game.Models.Item>

@{
    ViewBag.Title = "Sklep";
}

<h2>Sklep</h2>

<div class="row center-block">
    <div class="col-sm-6">
        <div class="card-deck" style="padding-right: 50px; height: 500px; overflow-y: auto; overflow-x: hidden">
            @foreach (var item in Model.ToList())
            {
                if (item.ItemTypeID != ViewBag.ActualItemType)
                {
                    <div class="row text-center col-sm-12">
                        <label class="alert alert-info">@item.ItemType.Name</label>
                    </div>
                    ViewBag.ActualItemType = item.ItemTypeID;
                }
                <div class="dropdown col-sm-4">
                    <img class="card-img-top ml-auto mr-auto" style="width: 60px;" src="@item.PathToImage" alt="Item image" />

                    @if (item.Defense > 0)
                    {
                        <div class="dropdown-content">
                            @item.Name <br />
                            Poziom: @item.Level<br />
                            Obrona: @item.Defense<br />
                            Wartość: @((int)((double)item.Value * ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                            @Html.ActionLink("Kup", "Buy", "Store", new { id = @item.ID }, null)
                        </div>
                    }
                    else if (item.Damage > 0)
                    {
                        <div class="dropdown-content">
                            @item.Name <br />
                            Poziom: @item.Level<br />
                            Obrażenia: @item.Damage<br />
                            Wartość: @((int)((double)item.Value * ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                            @Html.ActionLink("Kup", "Buy", "Store", new { id = @item.ID }, null)
                        </div>
                    }
                    else
                    {
                        <div class="dropdown-content">
                            @item.Name <br />
                            Wartość: @((int)((double)item.Value * ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                            @Html.ActionLink("Kup", "Buy", "Store", new { id = @item.ID }, null)
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h2 class="text-center">Wyposażenie</h2>
        </div>
        <div class="row center-block">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                @if (ViewBag.Character.Helmet == null)
                {
                    <div>
                        <img src="~/Images/helmet-placeholder.png" style="width: 60px; height: 60px" />
                    </div>
                }
                else
                {
                    <div class="dropdown">
                        <img src="@ViewBag.Character.Helmet.PathToImage" style="width: 60px; height: 60px" />

                        <div class="dropdown-content">
                            @ViewBag.Character.Helmet.Name <br />
                            Poziom: @ViewBag.Character.Helmet.Level<br />
                            Obrona: @ViewBag.Character.Helmet.Defense <br />
                            Wartość: @((int)((double)ViewBag.Character.Helmet.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                        </div>
                    </div>
                }
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row center-block">
            @if (ViewBag.Character.Weapon == null)
            {
                <div class="col-sm-4">
                    <img src="~/Images/weapon-placeholder.png" style="width: 60px; height: 60px" />
                </div>
            }
            else
            {
                <div class="dropdown col-sm-4">
                    <img src="@ViewBag.Character.Weapon.PathToImage" style="width: 60px; height: 60px" />

                    <div class="dropdown-content">
                        @ViewBag.Character.Weapon.Name <br />
                        Poziom: @ViewBag.Character.Weapon.Level<br />
                        Obrażenia: @ViewBag.Character.Weapon.Damage <br />
                        Wartość: @((int)((double)ViewBag.Character.Weapon.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                    </div>
                </div>
            }

            @if (ViewBag.Character.Armor == null)
            {
                <div class="col-sm-4">
                    <img src="~/Images/breastplate-placeholder.png" style="width: 60px; height: 60px" />
                </div>
            }
            else
            {
                <div class="dropdown col-sm-4">
                    <img src="@ViewBag.Character.Armor.PathToImage" style="width: 60px; height: 60px" />

                    <div class="dropdown-content">
                        @ViewBag.Character.Armor.Name <br />
                        Poziom: @ViewBag.Character.Armor.Level<br />
                        Obrona: @ViewBag.Character.Armor.Defense <br />
                        Wartość: @((int)((double)ViewBag.Character.Armor.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                    </div>
                </div>
            }

            @if (ViewBag.Character.Shield == null)
            {
                <div class="col-sm-4">
                    <img src="~/Images/shield-placeholder.png" style="width: 60px; height: 60px" />
                </div>
            }
            else
            {
                <div class="dropdown col-sm-4">
                    <img src="@ViewBag.Character.Shield.PathToImage" style="width: 60px; height: 60px" />

                    <div class="dropdown-content">
                        @ViewBag.Character.Shield.Name <br />
                        Poziom: @ViewBag.Character.Shield.Level<br />
                        Obrona: @ViewBag.Character.Shield.Defense <br />
                        Wartość: @((int)((double)ViewBag.Character.Shield.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                    </div>
                </div>
            }
        </div>
        <div class="row center-block">
            @if (ViewBag.Character.Gloves == null)
            {
                <div class="col-sm-4">
                    <img src="~/Images/gloves-placeholder.png" style="width: 60px; height: 60px" />
                </div>
            }
            else
            {
                <div class="dropdown col-sm-4">
                    <img src="@ViewBag.Character.Gloves.PathToImage" style="width: 60px; height: 60px" />

                    <div class="dropdown-content">
                        @ViewBag.Character.Gloves.Name <br />
                        Poziom: @ViewBag.Character.Gloves.Level<br />
                        Obrona: @ViewBag.Character.Gloves.Defense <br />
                        Wartość: @((int)((double)ViewBag.Character.Gloves.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                    </div>
                </div>
            }

            @if (ViewBag.Character.Boots == null)
            {
                <div class="col-sm-4">
                    <img src="~/Images/boots-placeholder.png" style="width: 60px; height: 60px" />
                </div>
            }
            else
            {
                <div class="dropdown col-sm-4">
                    <img src="@ViewBag.Character.Boots.PathToImage" style="width: 60px; height: 60px" />

                    <div class="dropdown-content">
                        @ViewBag.Character.Boots.Name <br />
                        Poziom: @ViewBag.Character.Boots.Level<br />
                        Obrona: @ViewBag.Character.Boots.Defense <br />
                        Wartość: @((int)((double)ViewBag.Character.Boots.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="row text-center">
                    <h2 class="text-center">Ekwipunek</h2>
                    @if (@ViewBag.Character.Equipments.Count > 0)
                    {
                        @Html.ActionLink("Sprzedaj wszystko", "SellAll", "Store", null, new { @class = "btn btn-default" })
                    }
                </div>
                @if (@ViewBag.Character.Equipments.Count > 0)
                {
                    <div class="card-deck">
                        @foreach (var equipment in @ViewBag.Character.Equipments)
                        {
                            for (int i = 0; i < equipment.Quantity; ++i)
                            {
                                <div class="dropdown col-sm-4">
                                    <img class="card-img-top ml-auto mr-auto" style="width: 60px;" src="@equipment.Item.PathToImage" alt="Item image" />

                                    @if (equipment.Item.Defense > 0)
                                    {
                                        <div class="dropdown-content">
                                            @equipment.Item.Name<br />
                                            Poziom: @equipment.Item.Level<br />
                                            Obrona: @equipment.Item.Defense<br />
                                            Wartość: @((int)((double)equipment.Item.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                                            @Html.ActionLink("Sprzedaj", "Sell", "Store", new { id = @equipment.Item.ID }, null)
                                        </div>
                                    }
                                    else if (equipment.Item.Damage > 0)
                                    {
                                        <div class="dropdown-content">
                                            @equipment.Item.Name <br />
                                            Poziom: @equipment.Item.Level<br />
                                            Obrażenia: @equipment.Item.Damage<br />
                                            Wartość: @((int)((double)equipment.Item.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                                            @Html.ActionLink("Sprzedaj", "Sell", "Store", new { id = @equipment.Item.ID }, null)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dropdown-content">
                                            @equipment.Item.Name <br />
                                            Wartość: @((int)((double)equipment.Item.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100))))<br />
                                            @Html.ActionLink("Sprzedaj", "Sell", "Store", new { id = @equipment.Item.ID }, null)
                                        </div>
                                    }
                                </div>
                            }
                        }
                    </div>
                }
                else
                {
                    <label class="center-block text-center">Brak przedmiotów</label>
                }
                <div class="row col-sm-12">
                    <h5 class="text-center">Złoto: @ViewBag.Character.Gold <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" /></h5>
                </div>
            </div>
        </div>
    </div>
</div>
