@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
}
else
{
    <div class="row center-block">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="row">
                <h1 class="center-block text-center">@ViewBag.Character.Name</h1>
                <img class="center-block" src="@ViewBag.Character.CharacterImage.PathToImage" height="100px" alt="Character image" />
            </div>
            <div class="row text-center">
                @Html.ActionLink("<<<", "PreviouseAvatar", "Home", null, new { @class = "btn btn-default", @title = "Poprzedni awatar" })
                @Html.ActionLink(">>>", "NextAvatar", "Home", null, new { @class = "btn btn-default", @title = "Następny awatar" })
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Poziom postaci
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Level
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Doświadczenie
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Experience / @ViewBag.Character.ExperienceMax
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Punkty zdrowia
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Health / @ViewBag.Character.HealthMax
                </div>
            </div>
            <hr />
            <div class="row" title="Wpływa na szansę przełamania bloku przeciwnika">
                <div class="col-sm-5">
                    Siła
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Strength
                </div>
                @if (ViewBag.Character.Strength < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.StrengthCost)
                    {
                        <div class="col-sm-2" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.StrengthCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2" title="Ulepsz siłę">
                            <a href="/Home/IncreaseStrength" class="btn btn-success">
                                @ViewBag.Character.StrengthCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row" title="Wpływa na szansę zablokowania ciosu">
                <div class="col-sm-5">
                    Zręczność
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Dexterity
                </div>
                @if (ViewBag.Character.Dexterity < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.DexterityCost)
                    {
                        <div class="col-sm-2" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.DexterityCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2" title="Ulepsz zręczność">
                            <a href="/Home/IncreaseDexterity" class="btn btn-success">
                                @ViewBag.Character.DexterityCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row" title="Wpływa na ceny w sklepie">
                <div class="col-sm-5">
                    Inteligencja
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Intelligence
                </div>
                @if (ViewBag.Character.Intelligence < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.IntelligenceCost)
                    {
                        <div class="col-sm-2" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.IntelligenceCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2" title="Ulepsz inteligencję">
                            <a href="/Home/IncreaseIntelligence" class="btn btn-success">
                                @ViewBag.Character.IntelligenceCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row" title="Wpływa na szansę podwójnego ataku">
                <div class="col-sm-5">
                    Szczęście
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Luck
                </div>
                @if (ViewBag.Character.Luck < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.LuckCost)
                    {
                        <div class="col-sm-2" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.LuckCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-2" title="Ulepsz szczęście">
                            <a href="/Home/IncreaseLuck" class="btn btn-success">
                                @ViewBag.Character.LuckCost <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    Obrażenia
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Damage
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Obrona
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Defense
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h2 class="text-center">Wyposażenie</h2>
            </div>
            <div class="row center-block">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    @if (ViewBag.Character.Helmet == null)
                    {
                        <div>
                            <img src="https://cdn4.iconfinder.com/data/icons/video-game-items-concepts/128/armor-helmet-spartan-512.png" style="width: 40px; height: 40px" />
                        </div>
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Helmet.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content">
                                @ViewBag.Character.Helmet.Name <br />
                                Poziom: @ViewBag.Character.Helmet.Level<br />
                                Obrona: @ViewBag.Character.Helmet.Defense <br />
                                Wartość: @(ViewBag.Character.Helmet.Value / (2 - (ViewBag.Character.Intelligence / 1000))) <br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.HelmetID }, null)

                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="row center-block">
                @if (ViewBag.Character.Weapon == null)
                {
                    <div class="col-sm-4">
                        <img src="https://image.flaticon.com/icons/png/512/95/95606.png" style="width: 40px; height: 40px" />
                    </div>
                }
                else
                {
                    <div class="dropdown col-sm-4">
                        <img src="@ViewBag.Character.Weapon.PathToImage" style="width: 60px; height: 60px" />

                        <div class="dropdown-content">
                            @ViewBag.Character.Weapon.Name <br />
                            Poziom: @ViewBag.Character.Weapon.Level<br />
                            Obrażenia: @ViewBag.Character.Weapon.Damage <br />
                            Wartość: @(ViewBag.Character.Weapon.Value / (2 - (ViewBag.Character.Intelligence / 1000))) <br />
                            @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.WeaponID }, null)
                        </div>
                    </div>
                }

                @if (ViewBag.Character.Armor == null)
                {
                    <div class="col-sm-4">
                        <img src="https://cdn4.iconfinder.com/data/icons/video-game-items-concepts/128/armor-vest-512.png" style="width: 40px; height: 40px" />
                    </div>
                }
                else
                {
                    <div class="dropdown col-sm-4">
                        <img src="@ViewBag.Character.Armor.PathToImage" style="width: 60px; height: 60px" />

                        <div class="dropdown-content">
                            @ViewBag.Character.Armor.Name <br />
                            Poziom: @ViewBag.Character.Armor.Level<br />
                            Obrona: @ViewBag.Character.Armor.Defense <br />
                            Wartość: @(ViewBag.Character.Armor.Value / (2 - (ViewBag.Character.Intelligence / 1000))) <br />
                            @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.ArmorID }, null)
                        </div>
                    </div>
                }

                @if (ViewBag.Character.Shield == null)
                {
                    <div class="col-sm-4">
                        <img src="https://www.freeiconspng.com/uploads/shield-png-16.png" style="width: 40px; height: 40px" />
                    </div>
                }
                else
                {
                    <div class="dropdown col-sm-4">
                        <img src="@ViewBag.Character.Shield.PathToImage" style="width: 60px; height: 60px" />

                        <div class="dropdown-content">
                            @ViewBag.Character.Shield.Name <br />
                            Poziom: @ViewBag.Character.Shield.Level<br />
                            Obrona: @ViewBag.Character.Shield.Defense <br />
                            Wartość: @(ViewBag.Character.Shield.Value / (2 - (ViewBag.Character.Intelligence / 1000))) <br />
                            @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.ShieldID }, null)
                        </div>
                    </div>
                }
            </div>
            <div class="row center-block">
                @if (ViewBag.Character.Gloves == null)
                {
                    <div class="col-sm-4">
                        <img src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/111673/gauntlet.png" style="width: 40px; height: 40px" />
                    </div>
                }
                else
                {
                    <div class="dropdown col-sm-4">
                        <img src="@ViewBag.Character.Gloves.PathToImage" style="width: 60px; height: 60px" />

                        <div class="dropdown-content">
                            @ViewBag.Character.Gloves.Name <br />
                            Poziom: @ViewBag.Character.Gloves.Level<br />
                            Obrona: @ViewBag.Character.Gloves.Defense <br />
                            Wartość: @(ViewBag.Character.Gloves.Value / (2 - (ViewBag.Character.Intelligence / 1000))) <br />
                            @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.GlovesID }, null)
                        </div>
                    </div>
                }

                @if (ViewBag.Character.Boots == null)
                {
                    <div class="col-sm-4">
                        <img src="https://cdn2.iconfinder.com/data/icons/rpg-fantasy-game-basic-ui/512/equipment_costume_armor_boot_foot_metal_knight_warrior_protection_leg_2-512.png" style="width: 40px; height: 40px" />
                    </div>
                }
                else
                {
                    <div class="dropdown col-sm-4">
                        <img src="@ViewBag.Character.Boots.PathToImage" style="width: 60px; height: 60px" />

                        <div class="dropdown-content">
                            @ViewBag.Character.Boots.Name <br />
                            Poziom: @ViewBag.Character.Boots.Level<br />
                            Obrona: @ViewBag.Character.Boots.Defense <br />
                            Wartość: @(ViewBag.Character.Boots.Value / (2 - (ViewBag.Character.Intelligence / 1000))) <br />
                            @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.BootsID }, null)
                        </div>
                    </div>
                }
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <h2 class="text-center">Ekwipunek</h2>
                    </div>
                    @if (@ViewBag.Character.Items.Count > 0)
                    {
                        <div class="card-deck">
                            @foreach (var item in @ViewBag.Character.Items)
                            {
                                <div class="dropdown col-sm-4">
                                    <img class="card-img-top ml-auto mr-auto" style="width: 60px;" src="@item.PathToImage" alt="Item image" />

                                    @if (item.Defense > 0)
                                    {
                                        <div class="dropdown-content">
                                            @item.Name <br />
                                            Poziom: @item.Level<br />
                                            Obrona: @item.Defense<br />
                                            Wartość: @(item.Value / (2 - (ViewBag.Character.Intelligence / 1000)))<br />
                                            @Html.ActionLink("Załóż", "PutOnTheItem", "Home", new { id = @item.ID }, null)
                                        </div>
                                    }
                                    else if (item.Damage > 0)
                                    {
                                        <div class="dropdown-content">
                                            @item.Name <br />
                                            Poziom: @item.Level<br />
                                            Obrażenia: @item.Damage<br />
                                            Wartość: @(item.Value / (2 - (ViewBag.Character.Intelligence / 1000)))<br />
                                            @Html.ActionLink("Załóż", "PutOnTheItem", "Home", new { id = @item.ID }, null)
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dropdown-content">
                                            @item.Name <br />
                                            Wartość: @(item.Value / (2 - (ViewBag.Character.Intelligence / 1000)))<br />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <label class="center-block text-center">Brak przedmiotów</label>
                    }
                    <div class="row col-sm-12">
                        <h5 class="text-center">Złoto: @ViewBag.Character.Gold <img src="http://pluspng.com/img-png/coin-hd-png-gold-coins-png-image-559.png" alt="Gold coins image" style="height:15px;" /></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
}