@model PagedList.IPagedList<Browser_RPG_Game.Models.Bulletin>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

@if (!Request.IsAuthenticated)
{
    if (Model.Count() > 0)
    {
        foreach (var news in Model)
        {
            <div class="jumbotron">
                <div class="row">
                    <h1 class="m-auto col-sm-6">@news.Title</h1>
                    <p class="m-auto col-sm-6 text-right">@news.Date</p>
                </div>
                <p class="lead">@news.Contents</p>
                <p class="text-right m-auto">Autor: @news.Character.Name</p>
            </div>
        }
        <div class="row ml-auto">
            <div class="row col-12">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            <div class="row col-12">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    }
    else
    {
        <h2>Brak wiadomości</h2>
    }
}
else
{
    <div class="row ml-auto mr-auto">
        <div class="col-sm-5 ml-auto mr-auto">
            <div class="row">
                <h1 class="ml-auto mr-auto"><b>@ViewBag.Character.Name</b></h1>
            </div>
            <hr />
            <div class="row">
                <img class="ml-auto mr-auto" src="@ViewBag.Character.CharacterImage.PathToImage" height="100px" alt="Character image" />
            </div>
            <div class="row">
                @Html.ActionLink("<<<", "PreviouseAvatar", "Home", null, new { @class = "btn btn-secondary ml-auto mr-1", @title = "Poprzedni awatar" })
                @Html.ActionLink(">>>", "NextAvatar", "Home", null, new { @class = "btn btn-secondary mr-auto ml-1", @title = "Następny awatar" })
            </div>
            <div class="row">
                <div class="col-sm-8 mr-auto">
                    Poziom postaci
                </div>
                <div class="row col-sm-4 ml-auto text-right">
                    @ViewBag.Character.Level
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 mr-auto">
                    Doświadczenie
                </div>
                <div class="row col-sm-4 ml-auto text-right">
                    @ViewBag.Character.Experience / @ViewBag.Character.ExperienceMax
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 mr-auto">
                    Punkty zdrowia
                </div>
                <div class="row col-sm-5 ml-auto text-right">
                    @ViewBag.Character.Health / @ViewBag.Character.HealthMax
                </div>
            </div>
            <hr />
            <div class="row" title="Wpływa na szansę przełamania bloku przeciwnika i obrażenia">
                <div class="col-sm-6">
                    Siła
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Strength
                </div>
                @if (ViewBag.Character.Strength < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.StrengthCost)
                    {
                        <div class="col-sm-4" title="Za mało złota">
                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.StrengthCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height: 15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4" title="Ulepsz siłę">
                            <a href="/Home/IncreaseStrength" class="btn btn-success">
                                @ViewBag.Character.StrengthCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row" title="Wpływa na szansę zablokowania ciosu i obronę">
                <div class="col-sm-6">
                    Zręczność
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Dexterity
                </div>
                @if (ViewBag.Character.Dexterity < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.DexterityCost)
                    {
                        <div class="col-sm-4" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.DexterityCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4" title="Ulepsz zręczność">
                            <a href="/Home/IncreaseDexterity" class="btn btn-success">
                                @ViewBag.Character.DexterityCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row" title="Wpływa na ceny w sklepie">
                <div class="col-sm-6">
                    Inteligencja
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Intelligence
                </div>
                @if (ViewBag.Character.Intelligence < 100)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.IntelligenceCost)
                    {
                        <div class="col-sm-4" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.IntelligenceCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4" title="Ulepsz inteligencję">
                            <a href="/Home/IncreaseIntelligence" class="btn btn-success">
                                @ViewBag.Character.IntelligenceCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <div class="row" title="Wpływa na szansę podwójnego ataku lub zadania obrażeń krytycznych">
                <div class="col-sm-6">
                    Szczęście
                </div>
                <div class="col-sm-2">
                    @ViewBag.Character.Luck
                </div>
                @if (ViewBag.Character.Luck < 1000)
                {
                    if (ViewBag.Character.Gold < ViewBag.Character.LuckCost)
                    {
                        <div class="col-sm-4" title="Za mało złota">

                            <a href="#" class="btn btn-danger">
                                @ViewBag.Character.LuckCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4" title="Ulepsz szczęście">
                            <a href="/Home/IncreaseLuck" class="btn btn-success">
                                @ViewBag.Character.LuckCost <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" />
                            </a>
                        </div>
                    }
                }
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-6">
                    Obrażenia
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Damage
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    Obrona
                </div>
                <div class="col-sm-6">
                    @ViewBag.Character.Defense
                </div>
            </div>
        </div>
        <div class="col-sm-4 ml-auto mr-auto">
            <div class="row ml-auto mr-auto">
                <h1 class="ml-auto mr-auto">Wyposażenie</h1>
            </div>
            <hr />
            <div class="row ml-auto mr-auto">
                <div class="col-sm-4 ml-auto mr-auto">
                    @if (ViewBag.Character.Helmet == null)
                    {
                        <img src="~/Images/helmet-placeholder.png" style="width: 60px; height: 60px" />
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Helmet.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content tooltip-right">
                                <b>@ViewBag.Character.Helmet.Name</b> <br />
                                Poziom: @ViewBag.Character.Helmet.Level<br />
                                Obrona: @ViewBag.Character.Helmet.Defense <br />
                                Wartość: @((int)((double)ViewBag.Character.Helmet.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.HelmetID }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row ml-auto mr-auto">
                <div class="col-sm ml-auto mr-auto">
                    @if (ViewBag.Character.Weapon == null)
                    {
                        <img src="~/Images/weapon-placeholder.png" style="width: 60px; height: 60px" />
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Weapon.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content tooltip-right">
                                <b>@ViewBag.Character.Weapon.Name</b> <br />
                                Poziom: @ViewBag.Character.Weapon.Level<br />
                                Obrażenia: @ViewBag.Character.Weapon.Damage <br />
                                Wartość: @((int)((double)ViewBag.Character.Weapon.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.WeaponID }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                </div>

                <div class="col-sm ml-auto mr-auto">
                    @if (ViewBag.Character.Armor == null)
                    {
                        <img src="~/Images/breastplate-placeholder.png" style="width: 60px; height: 60px" />
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Armor.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content tooltip-right">
                                <b>@ViewBag.Character.Armor.Name</b> <br />
                                Poziom: @ViewBag.Character.Armor.Level<br />
                                Obrona: @ViewBag.Character.Armor.Defense <br />
                                Wartość: @((int)((double)ViewBag.Character.Armor.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.ArmorID }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm ml-auto mr-auto">
                    @if (ViewBag.Character.Shield == null)
                    {
                        <img src="~/Images/shield-placeholder.png" style="width: 60px; height: 60px" />
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Shield.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content tooltip-right">
                                <b>@ViewBag.Character.Shield.Name</b> <br />
                                Poziom: @ViewBag.Character.Shield.Level<br />
                                Obrona: @ViewBag.Character.Shield.Defense <br />
                                Wartość: @((int)((double)ViewBag.Character.Shield.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.ShieldID }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row ml-auto mr-auto">
                <div class="col-sm ml-auto mr-auto">
                    @if (ViewBag.Character.Gloves == null)
                    {
                        <img src="~/Images/gloves-placeholder.png" style="width: 60px; height: 60px" />
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Gloves.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content tooltip-right">
                                <b>@ViewBag.Character.Gloves.Name</b> <br />
                                Poziom: @ViewBag.Character.Gloves.Level<br />
                                Obrona: @ViewBag.Character.Gloves.Defense <br />
                                Wartość: @((int)((double)ViewBag.Character.Gloves.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.GlovesID }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm ml-auto mr-auto">
                    @if (ViewBag.Character.Boots == null)
                    {
                        <img src="~/Images/boots-placeholder.png" style="width: 60px; height: 60px" />
                    }
                    else
                    {
                        <div class="dropdown">
                            <img src="@ViewBag.Character.Boots.PathToImage" style="width: 60px; height: 60px" />

                            <div class="dropdown-content tooltip-right">
                                <b>@ViewBag.Character.Boots.Name</b> <br />
                                Poziom: @ViewBag.Character.Boots.Level<br />
                                Obrona: @ViewBag.Character.Boots.Defense <br />
                                Wartość: @((int)((double)ViewBag.Character.Boots.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                @Html.ActionLink("Zdejmij", "TakeOffTheItem", "Home", new { id = @ViewBag.Character.BootsID }, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    }
                </div>
                <div class="col-sm ml-auto mr-auto">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="row ml-auto mr-auto">
                        <h1 class="ml-auto mr-auto">Ekwipunek</h1>
                    </div>
                    @if (@ViewBag.Character.Equipments.Count > 0)
                    {
                        <div class="card-deck">
                            @foreach (var equipment in @ViewBag.Character.Equipments)
                            {
                                for (int i = 0; i < equipment.Quantity; ++i)
                                {
                                    <div class="dropdown col-sm-4">
                                        <img class="card-img-top ml-auto mr-auto" style="width: 60px;" src="@equipment.Item.PathToImage" alt="Item image" />

                                        <div class="dropdown-content tooltip-bottom tooltip-right">
                                            @if (equipment.Item.Defense > 0)
                                            {
                                                <b>@equipment.Item.Name</b> <br />
                                                <text>Poziom: </text>@equipment.Item.Level<br />
                                                <text>Obrona: </text>@equipment.Item.Defense<br />
                                                <text>Wartość: </text>@((int)((double)equipment.Item.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                                @Html.ActionLink("Załóż", "PutOnTheItem", "Home", new { id = @equipment.Item.ID }, new { @class = "btn btn-primary" })
                                            }
                                            else if (equipment.Item.Damage > 0)
                                            {
                                                <b>@equipment.Item.Name</b> <br />
                                                <text>Poziom: </text>@equipment.Item.Level<br />
                                                <text>Obrażenia: </text>@equipment.Item.Damage<br />
                                                <text>Wartość: </text>@((int)((double)equipment.Item.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                                @Html.ActionLink("Załóż", "PutOnTheItem", "Home", new { id = @equipment.Item.ID }, new { @class = "btn btn-primary" })
                                            }
                                            else
                                            {
                                                <b>@equipment.Item.Name</b> <br />
                                                <text>Wartość: </text>@((int)((double)equipment.Item.Value / ((double)2 - (double)((double)ViewBag.Character.Intelligence / (double)100)))) <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /><br />
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }
                    else
                    {
                        <div class="row ml-auto mr-auto">
                            <label class="ml-auto mr-auto">Brak przedmiotów</label>
                        </div>
                    }
                    <div class="row col-sm-12">
                        <h5 class="ml-auto mr-auto">Złoto: @ViewBag.Character.Gold <img src="~/Images/gold-coin.png" alt="Gold coins image" style="height:15px;" /></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
}